<phpunit
	bootstrap="./Bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="CodeIgniter Application Test Suite">
			<directory suffix="test.php">./</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">../controllers</directory>
			<directory suffix=".php">../models</directory>
            <directory suffix=".php">../core</directory>
			<directory suffix=".php">../views</directory>
			<directory suffix=".php">../libraries</directory>
			<directory suffix=".php">../helpers</directory>
			<directory suffix=".php">../hooks</directory>
            <directory suffix=".php">../featuress</directory>
            <exclude>
              <directory suffix=".php">../views/bootstrap</directory>
              <directory suffix=".php">../views/ciauth</directory>
              <directory suffix=".php">../views/errors</directory>
              <directory suffix=".php">../views/auth</directory>
              <file>../controllers/Auth.php</file>
              <file>../controllers/Api.php</file>
              <file>../models/Ion_auth_model.php</file>
              <file>../libraries/Bcrypt.php</file>
              <file>../libraries/Unzip.php</file>
              <file>../libraries/Format.php</file>
              <file>../libraries/Ion_auth.php</file>
              <file>../views/std_footer.php</file>
              <file>../views/std_header.php</file>
            </exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="build/coverage"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="build/testdox.html"/>	
    </logging>
</phpunit>
