# ignore all files ending with ~
*~ 

# ignore log files
application/logs/*.php

# ignore test results
application/tests/build/*

watir/test/*
watir/screenshots/*
watir/downloads/*

build/logs/*

/.htaccess
