<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;h2&gt; Static analysis&lt;/h2&gt;&#xd;
&#xd;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.3.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>file:///home/frederic/git/citemplate</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <quietPeriod>60</quietPeriod>
  <scmCheckoutRetryCount>3</scmCheckoutRetryCount>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>5 12 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.phing.PhingBuilder plugin="phing@0.13.3">
      <buildFile>build-phing.xml</buildFile>
      <targets>qa</targets>
      <useModuleRoot>true</useModuleRoot>
    </hudson.plugins.phing.PhingBuilder>
  </builders>
  <publishers>
    <hudson.plugins.plot.PlotPublisher plugin="plot@1.9">
      <plots>
        <hudson.plugins.plot.Plot>
          <title>Number of files</title>
          <yaxis></yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>build/logs/phploc.csv</file>
              <label></label>
              <fileType>csv</fileType>
              <colExclusionSet>
                <int>1</int>
                <int>2</int>
              </colExclusionSet>
              <inclusionFlag>INCLUDE_BY_COLUMN</inclusionFlag>
              <exclusionValues>1,2</exclusionValues>
              <url>build/logs/phploc.csv</url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>PHP code measures</group>
          <numBuilds></numBuilds>
          <csvFileName>1890711624.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
          <keepRecords>false</keepRecords>
          <exclZero>false</exclZero>
          <logarithmic>false</logarithmic>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>Number of lines</title>
          <yaxis></yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>build/logs/phploc.csv</file>
              <label></label>
              <fileType>csv</fileType>
              <colExclusionSet>
                <int>3</int>
                <int>4</int>
                <int>5</int>
                <int>6</int>
              </colExclusionSet>
              <inclusionFlag>INCLUDE_BY_COLUMN</inclusionFlag>
              <exclusionValues>3,4,5,6</exclusionValues>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>PHP code measures</group>
          <numBuilds></numBuilds>
          <csvFileName>1447538683.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
          <keepRecords>false</keepRecords>
          <exclZero>false</exclZero>
          <logarithmic>false</logarithmic>
        </hudson.plugins.plot.Plot>
        <hudson.plugins.plot.Plot>
          <title>Complexity</title>
          <yaxis></yaxis>
          <series>
            <hudson.plugins.plot.CSVSeries>
              <file>build/logs/phploc.csv</file>
              <label></label>
              <fileType>csv</fileType>
              <inclusionFlag>OFF</inclusionFlag>
              <exclusionValues></exclusionValues>
              <url></url>
              <displayTableFlag>false</displayTableFlag>
            </hudson.plugins.plot.CSVSeries>
          </series>
          <group>PHP code measures</group>
          <numBuilds></numBuilds>
          <csvFileName>276280437.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
          <keepRecords>false</keepRecords>
          <exclZero>false</exclZero>
          <logarithmic>false</logarithmic>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
    <hudson.plugins.jdepend.JDependRecorder plugin="jdepend@1.2.4">
      <configuredJDependFile>build/jdepend-log.xml</configuredJDependFile>
    </hudson.plugins.jdepend.JDependRecorder>
  </publishers>
  <buildWrappers/>
</project>